/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Background */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #000000, #5e5e5e, #000000);
}

/* Center Wrapper */
.wrapper{
    perspective:1000px;
}

/* Glass Card */
.card{
    width:400px;
    padding:50px 40px;
    text-align:center;
    background:rgba(255,255,255,0.08);
    border-radius:20px;
    backdrop-filter: blur(15px);
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    transform-style:preserve-3d;
    transition:0.6s ease;
}

/* Soft 3D Hover */
.card:hover{
    transform: rotateY(10deg) rotateX(5deg);
}

/* Title */
.card h1{
    color:#ffffff;
    font-size:42px;
    margin-bottom:15px;
    letter-spacing:2px;
}

/* Subtitle */
.card p{
    color:#dddddd;
    font-size:16px;
    margin-bottom:35px;
}

/* Premium Button */
.btn{
    display:inline-block;
    padding:12px 35px;
    border-radius:30px;
    background:#00c6ff;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:0.4s ease;
    box-shadow:0 5px 20px rgba(0,198,255,0.4);
}

/* Button Hover */
.btn:hover{
    background:#0072ff;
    transform:translateY(-3px);
    box-shadow:0 8px 25px rgba(0,114,255,0.6);
}
